{extend name="mobile@public/main"}

{block name='body'}
{include file="mobile@public/header"}
<!--banner-->
<div class="bannerWrap"><img src="__STATIC__/lsy/wap/images/smallBann5.jpg" /></div>
<!--页面主体部分-->
<div class="mainBox">
    <!--做网站公司的标准服务流程-->
    <div class="serverOne">
        <div class="server w1200">
            <div class="title">
                <h2 class="wow fadeInUp" style="animation-duration: 500ms">做网站公司的标准服务流程</h2>
                <span class="wow fadeInUp" style="animation-duration: 600ms"></span>
                <p class="wow fadeInUp" style="animation-duration: 700ms">您的网站也许就是下一个值得我们骄傲的事情，信任是相互的开始</p>
            </div>
            <ul class="cleafix">
                <li>
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico16.png" /></span>
                        <h2>洽谈沟通</h2>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico30.png" /></span>
                        <h2>制定方案</h2>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico31.png" /></span>
                        <h2>项目执行</h2>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico32.png" /></span>
                        <h2>项目交付</h2>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico33.png" /></span>
                        <h2>技术支持</h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--我们的服务项目-->
    <div class="serverWrap w1200">
        <div class="title">
            <h2 class="wow fadeInUp" style="animation-duration: 500ms">我们的服务</h2>
            <span class="wow fadeInUp" style="animation-duration: 600ms"></span>
            <p class="wow fadeInUp" style="animation-duration: 700ms">提供一站式项目从0到交付上线，7*24的技术保障</p>
        </div>
        <ul class="serveceList cleafix">
            <li class="ico1">
                <a href="javascript:void(0)">
                    <span><img src="__STATIC__/lsy/wap/images/ico26.png" /></span>
                    <h3>项目设计、开发</h3>
                    <p><em>为企业集团提供优秀的网站<br />树立品牌形象，提升商业价值</em></p>
                </a>
            </li>
            <li class="ico2">
                <a href="javascript:void(0)">
                    <span><img src="__STATIC__/lsy/wap/images/ico27.png" /></span>
                    <h3>项目管理、运营</h3>
                    <p><em>为网站提供所见即所有的管理程序<br />方便客户操作，无障碍运营</em></p>
                </a>
            </li>
            <li class="ico3">
                <a href="javascript:void(0)">
                    <span><img src="__STATIC__/lsy/wap/images/ico28.png" /></span>
                    <h3>项目维护、安全</h3>
                    <p><em>随时维护既有程序BUG<br />时刻保证网站的安全运行</em></p>
                </a>
            </li>
            <li class="ico4">
                <a href="javascript:void(0)">
                    <span><img src="__STATIC__/lsy/wap/images/ico29.png" /></span>
                    <h3>7*24技术保障</h3>
                    <p><em>保障网站7*24小时正常运行不间断<br />时时监测服务器安全</em></p>
                </a>
            </li>
        </ul>
    </div>
</div>
{include file="mobile@public/footer"}
{/block}