{extend name="index@public/main"}

{block name='body'}
{include file="index@public/header"}
<!-- ny-banner start -->
<div class="page_bg" style="background: url(__WEBPREFIX__/lsy/web/picture/1525501422.jpg) center top no-repeat;"></div>
<!-- ny-banner end -->
 <!-- content start -->
<div class="container" style="margin-bottom:25px ">   
    <div class="row" id="webPage">
        <!-- caidan start -->
        <ul class="caidan">
            <li class="swiper-wrapper">
                {notempty name="newsCate"}
                    <a class="swiper-slide selected" @click="jumpPage(0,1)">全部</a>
                    {foreach $newsCate as $newsCateVal}
                    <a class="swiper-slide" @click="jumpPage({$newsCateVal.id},1)">{$newsCateVal.title}</a>
                    {/foreach}         
                {/notempty} 
            </li>
        </ul> 
        <div class="col-xs-12 col-sm-8 col-md-12" >
            <div class="list_box">        
                <ul class="list_news" id="listPage">
                    {notempty name="list"}
                        {foreach $list as $listVal}
                            <li>
                                <div class="newImg">
                                    {notempty name="$listVal.localUrl"}
                                        <img src="{$listVal.localUrl}" alt="{$listVal.title}"/>
                                    {/notempty}
                                </div>
                                <div class="newText">
                                    {empty name="$listVal.linkUrl"}
                                        <a href="__WEB__/news/details.html?id={$listVal.id}">{$listVal.title}</a> 
                                    {else /}
                                        <a href="{$listVal.linkUrl}">{$listVal.title}</a>    
                                    {/empty}
                                    <p>{$listVal.digest|raw}</p>
                                    <span>{$listVal.created}</span>
                                </div>
                                <span class="np"></span>                      
                            </li>
                        {/foreach}
                    {/notempty}        
                </ul>
                <div class="pageBox">     
                    <div class="page page1" v-show="show">
                        <div class="pagelist">
                            <span class="jump" :class="{disabled:pstart}" @click="jumpPage(type,current_page-1)">上一页</span>
                            <span v-show="current_page>5" class="jump" @click="jumpPage(type,1)">1</span>
                            <span class="ellipsis" v-show="efont">...</span>
                            <span class="jump" v-for="num in indexs" :class="{bgprimary:current_page==num}" @click="jumpPage(type,num)">{{num}}</span>
                            <span class="ellipsis" v-show="ebehind">...</span>
                            <span v-show="current_page<pages-4" class="jump" @click="jumpPage(type,pages)">{{pages}}</span>
                            <span :class="{disabled:pend}" class="jump" @click="jumpPage(type,current_page+1)">下一页</span>
                            <span class="jumppoint">跳转到：</span>
                            <span class="jumpinp"><input type="number" v-model="changePage" min="1" :max="pages"></span>
                            <span class="jump gobtn" @click="jumpPage(type,changePage)">GO</span>
                        </div>
                    </div>
                    <div class="page2 page" v-show="show">
                        <div class="pagelist">
                            <span class="jump" :class="{disabled:pstart}" @click="jumpPage(type,current_page-1)">上页</span>
                            <span :class="{disabled:pend}" class="jump" @click="jumpPage(type,current_page+1)">下页</span>
                            <span class="jumppoint">{{current_page}}/{{pages}}<b></b></span>
                            <span class="jumppoint">跳转到</span>
                            <span class="jumpinp"><input type="number" v-model="changePage" min="1" :max="pages"></span>
                            <span class="jump gobtn" @click="jumpPage(type,changePage)">GO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
{include file="index@public/footer"}
{/block}
{block name="script"}
<script type="text/javascript">
$(function(){
    var mySwiper = new Swiper('.caidan',{
        slidesPerView: 'auto',
        speed:500,
        paginationClickable: true,
        freeMode : true,
        slidesPerView : 'auto'
    });
    
    var $tab_li = $('.caidan a');
    $tab_li.click(function(){
        $(this).addClass('selected').siblings().removeClass('selected');
    });

    var ww = $(window).width();
    if(ww>=992){
        $('.caidan li').removeClass('swiper-wrapper') 
    }else{
        $('.caidan li').addClass('swiper-wrapper')
    }
})
</script>
<script type="text/javascript" src="__STATIC__/plugs/vue/dev/dist/vue.min.js"></script>
<script type="text/javascript">
var paream = GetQueryString('catOne');
if(paream == null || paream == undefined || paream == ''){
    paream = 0;
}
var totalPages = "{$pages|default=0}";
var newlist = new Vue({
    el: '#webPage',
    data: {
        current_page: 1, //当前页
        pages: totalPages, //总页数
        changePage: 1, //跳转页
        nowIndex: 0,
        type: paream
    },
    computed: {
        show: function() {
            return this.pages && this.pages != 1
        },
        pstart: function() {
            return this.current_page == 1;
        },
        pend: function() {
            return this.current_page == this.pages;
        },
        efont: function() {
            if (this.pages <= 7) return false;
            return this.current_page > 5
        },
        ebehind: function() {
            if (this.pages <= 7) return false;
            var nowAy = this.indexs;
            return nowAy[nowAy.length - 1] != this.pages;
        },
        indexs: function() {

            var left = 1,
                    right = this.pages,
                    ar = [];
            if (this.pages >= 7) {
                if (this.current_page > 5 && this.current_page < this.pages - 4) {
                    left = Number(this.current_page) - 3;
                    right = Number(this.current_page) + 3;
                } else {
                    if (this.current_page <= 5) {
                        left = 1;
                        right = 7;
                    } else {
                        right = this.pages;

                        left = this.pages - 6;
                    }
                }
            }
            while (left <= right) {
                ar.push(left);
                left++;
            }
            return ar;
        }
    },
        methods: {
            jumpPage: function(type,id) {
                if(type == this.type){
                    if(id == this.current_page){return false;}
                    if(id == 0){return false;}
                    if(id > this.pages){return false;}
                }

                var _that = this;
                _that.type = type;
                _that.current_page = id;
                $.get('__WEB__/news/lists.html?catOne='+type+'&page='+id,function(res){
                    if(res && res.code == 200 && res.data.lists){
                        var cont = res.data.lists.length;
                        if(cont > 0){
                            if(_that.current_page == 1 && res.data.pages && res.data.pages != 0){_that.pages = res.data.pages}
                            var html = '';
                            var details = "__WEB__/news/details.html";
                            for( var i = 0 ; i < cont ; i++ ){
                                html += '<li><div class="newImg">';     
                                if(res.data.lists[i].localUrl){
                                    html += '<img src="'+res.data.lists[i].localUrl+'" alt="'+res.data.lists[i].title+'"/>';
                                }
                                    html += '</div>';
                                    html += '<div class="newText">';
                                if(res.data.lists[i].linkUrl){
                                    html += '<a target="_blank" href="'+res.data.lists[i].linkUrl+'">'+res.data.lists[i].title+'</a>';
                                }else{
                                    html += '<a target="_blank" href="__WEB__/news/details.html?id='+res.data.lists[i].id+'">'+res.data.lists[i].title+'</a>';
                                }
                                    html +='<p>'+res.data.lists[i].digest+'</p>'; 
                                    html += '<span>'+res.data.lists[i].created+'</span>';
                                    html += '</div>';
                                    html += '<span class="np"></span></li>';
                            }
 
                            $("#listPage").empty().html(html);
                        }else{
                            $("#listPage").empty().html('暂无~');
                            _that.pages = 1;
                        }
                    }else{
                        $("#listPage").empty().html('暂无~');
                        _that.pages = 1;
                    }
                },'json');
            }
        }
    });
</script>
<script type="text/javascript">
    function getRequest(type){
        $.get('__WEB__/service/lists.html?catOne='+type,function(res){
            if(res && res.code == 200 && res.data.content){
                $("#listPage").empty().html(res.data.content.detail);
            }else{
                $("#listPage").empty().html('暂无~');
            }
        },'json');
    }
</script>
{/block}
