{extend name='admin@main'}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card'>

    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item block relative">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>标题</h3>
            <input name="title" required class="layui-input" placeholder="请输入标题" value="{$vo.title|default=''|out}">
        </div>

        <div class="layui-form-item">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>图片</h3>
            <table class="layui-table background-item margin-none" lay-size="sm" lay-skin="nob">
                <tbody>
                <tr>
                    <td class="text-top" style="width:100px;padding-bottom:0px;">
                        <input type="hidden" name="local_url" value="{$vo.local_url|default=''}">
                        <script>$('[name=local_url]').uploadOneImage()</script>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="layui-form-item block relative">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px"></sup>外链</h3>
            <input name="link_url" class="layui-input" placeholder="必须是以http/https开头的URL链接。可以为外部完整链接地址，也可以填写站内链接哦~" value="{$vo.link_url|default=''|http_out}">
        </div>

        <div class="layui-form-item block">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px"></sup>内容</h3>
            <textarea name="detail">{$vo.detail|default=''|html_out}</textarea>
        </div>

        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            <button class="layui-btn layui-btn-danger" onclick="window.history.back()" type="button">取消编辑</button>
            <button class="layui-btn" type="submit">保存配置</button>
        </div>

    </div>

    <script type="text/javascript" charset="utf-8">
        window.form.render();
        /*! 实例富文本编辑器  */
       require(['ckeditor'], function () {
            window.createEditor('[name="detail"]', {height: 500});
           console.log($('[name="detail"]').html());
        });
    </script>
    <style type="text/css">
        .background-item {
            padding: 15px;
            background: #efefef;
        }

        .background-item thead tr {
            background: #e0e0e0
        }
    </style>
</form>
{/block}