{extend name="index@public/main"}
{block name='body'}
{include file="index@public/header"}
<!-- ny-banner star --> 
<div class="page_bg" style="background: url(__WEBPREFIX__/lsy/web/picture/1525501422.jpg) center top no-repeat;"></div>
<!-- ny-banner end --> 
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12">
            <div class="list_box">
                <h2 class="left_h2">联系我们</h2>
                <div class="contents">
                    <p>联系人：赵先生(经理)</p>
                    <p>电 话：0931-2233257</p>
                    <p>手 机：18100945969</p>
                    <p>网址：www.longshangyun.com</p>
                    <p>邮 箱：longshangyun@foxmail.com</p>
                    <p>地 址：甘肃省兰州市七里河区兰州中心SOHO</p>
                    <p>邮 编：730050</p>
                </div>
            </div>
        </div>
    </div>
</div>        
{include file="index@public/footer"}
{/block}

