<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>{$title|default='模版案例-'}甘肃陇上云网络科技</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="{$keywords|default='甘肃陇上云网络科技有限公司-'}陇上云" />
        <meta name="description" content="{$description|default='甘肃陇上云网络科技有限公司-'}陇上云" />
        <meta name="renderer" content="webkit|ie-comp|ie-stand" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="applicable-device" content="pc,mobile">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="copyright" content="longshangyun.com" />
        <meta name="author" content="longshangyun.com" />
        <link href="__WEBPREFIX__/lsy/web/images/icon128.png" rel="shortcut icon">
        <link rel="stylesheet" href="__WEBPREFIX__/lsy/web/css/reset.css" type="text/css">
        <link rel="stylesheet" href="__WEBPREFIX__/lsy/web/css/public.css" type="text/css">
        <link rel="stylesheet" href="__WEBPREFIX__/lsy/web/css/farmstyle.css" type="text/css">
        <link rel="stylesheet" href="__WEBPREFIX__/lsy/web/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="__WEBPREFIX__/lsy/web/css/bxslider.css" type="text/css">       
        <link rel="stylesheet" href="__WEBPREFIX__/lsy/web/css/swiper.css" type="text/css"/>
        <link rel="stylesheet" href="__WEBPREFIX__/lsy/web/css/animate.css" type="text/css"/>

        <script src="__WEBPREFIX__/lsy/web/js/jquery.min.js" type="text/javascript"></script> 
        <script src="__WEBPREFIX__/lsy/web/js/main.js" type="text/javascript"></script>
        <script src="__WEBPREFIX__/lsy/web/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__WEBPREFIX__/lsy/web/js/bxslider.min.js" type="text/javascript"></script>
        <script src="__WEBPREFIX__/lsy/web/js/common.js" type="text/javascript"></script>
        <script src="__WEBPREFIX__/lsy/web/js/jquery.flexslider-min.js" type="text/javascript"></script> 
        <!-- 手机 导航下拉菜单 -->
        <script src="__WEBPREFIX__/lsy/web/js/jquery.transit.js" type="text/javascript"></script>
        <script src="__WEBPREFIX__/lsy/web/js/transform.js" type="text/javascript"></script>
        <script src="__WEBPREFIX__/lsy/web/js/swiper.min.js" type="text/javascript"></script>
        <script src="__WEBPREFIX__/lsy/web/js/swipebox.js" type="text/javascript"></script>

        {block name="style"}{/block}
</head>
    <body>
        {block name="body"}{/block}
        {block name="script"}{/block}
    </body>
</html>
