<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用户账号</label>
            <div class="layui-input-block">
                <!--{if $vo and isset($vo.username)}-->
                <input disabled value='{$vo.userName|default=""}' class="layui-input layui-bg-gray">
                <!--{else}-->
                <input name="userName" value='{$vo.userName|default=""}' required pattern="^.{4,}$" placeholder="请输入4位及以上字符用户名称" class="layui-input">
                <!--{/if}-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">用户手机号</label>
            <div class="layui-input-block">
                <input name="mobile" value='{$vo.mobile|default=""}'  class="layui-input">

            </div>
        </div>
        <div  class="layui-form-item">
            <label class="layui-form-label label-required">用户部门</label>
            <div class="layui-input-block">
                <select name="belong"  class="layui-input-block">
                    <option value="0">请选择</option>
                    {foreach $department as $key=>$dpvo}
                    <option value="{$dpvo.id}">{$dpvo.name|out}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div  class="layui-form-item">
            <label class="layui-form-label label-required">用户地区</label>
            <div class="layui-input-block">
                <select name="province"  class="layui-input-block">
                    <option value="10001">甘肃省</option>
                </select>
                <select name="city"  class="layui-input-block">
                    <option value="100011">张掖市</option>
                </select>
                <select name="area"  class="layui-input-block">
                    <option value="0">请选择</option>
                    {foreach $addLoginArea as $area}
                        <option value="{$area.id}">{$area.title|default=''|out}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <script>
            $('[name="area"]').val("{$vo.area}");
            $('[name="belong"]').val("{$vo.belong}");
        </script>
        <!--{if isset($authorizes)}-->
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <!--{notempty name='vo.id'}-->
        <input type='hidden' value='{$vo.id}' name='id'>
        <!--{/notempty}-->
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
