<!--footer-->
<div class="footerWrap">
    <div class="footer w1200">
        <p class="wow fadeInUp">2018-2019 甘肃陇上云网络科技有限公司 ©版权所有</p>
        <p class="wow fadeInUp">陇ICP备18004525号-2 &nbsp;|&nbsp;
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=62010302000306"><img src="__WAP__/public/beian.png" />甘公网安备 62010302000306号</a>
        </p>
    </div>
</div>

<script>
    var _hmt = _hmt || [];
    (function() {
        //百度统计代码
//        var hm = document.createElement("script");
//        hm.src = "https://hm.baidu.com/hm.js?c2a84024fc2473478d878b683e372859";
//        var sm = document.getElementsByTagName("script")[0];
//        sm.parentNode.insertBefore(hm, sm);
//
//        //百度自动推送代码
//        var bp = document.createElement('script');
//        var curProtocol = window.location.protocol.split(':')[0];
//        if (curProtocol === 'https') {
//            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
//        } else {
//            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
//        }
//        var sp = document.getElementsByTagName("script")[0];
//        sp.parentNode.insertBefore(bp, sp);
//
//        //360自动推送代码
//        var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?8d8b454d70a07b133ad995a7ccdc0492":"https://jspassport.ssl.qhimg.com/11.0.1.js?8d8b454d70a07b133ad995a7ccdc0492";
//        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>