<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>{$title|default='兰州网站程序建设,兰州软件定制开发-'}甘肃陇上云网络科技</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="{$keywords|default='兰州网站程序建设,兰州软件定制开发,兰州APP定制开发,甘肃陇上云网络科技有限公司-'}陇上云" />
        <meta name="description" content="{$description|default='APP、PC+手机端网站建设、微信公众号开发、小程定制开发，SEO优化排名，尽在甘肃陇上云网络科技有限公司。我们以互联网+为基础，专注于互联网网络科技领域，自主开发，不侵犯任何第三方权益及法律风险。掌握互联网最新资讯、学习互联网相关知识。网站程序建设,软件定制开发-'}陇上云" />
        <meta name="renderer" content="webkit|ie-comp|ie-stand" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="copyright" content="longshangyun.com" />
        <meta name="author" content="longshangyun.com" />
        <meta name="applicable-device" content="mobile" />
        <meta name="baidu-site-verification" content="NdvNsa6Pnz" />
        <meta name="360-site-verification" content="99bc16ef9cdfd930962db06c4bf93f86" />
        <meta name="sogou_site_verification" content="q0RxyOvTgI"/>
        <meta name="shenma-site-verification" content="f047d00d8354ac6a9334495e725c482f_1553572540">
        <link href="__WAPPREFIX__/lsy/web/images/icon128.png" rel="shortcut icon">

        <link rel="stylesheet" href="__WAPPREFIX__/lsy/wap/css/default.css" charset="UTF-8" />
        <link rel="stylesheet" href="__WAPPREFIX__/lsy/wap/css/swiper.css" charset="UTF-8" />
        <link rel="stylesheet" href="__WAPPREFIX__/lsy/wap/css/index.css" charset="UTF-8" />
        <!--动画-->
        <link rel="stylesheet" href="__WAPPREFIX__/lsy/wap/css/animate.css" charset="UTF-8" />
        {block name="style"}{/block}
    </head>
    <body>
        {block name="body"}{/block}

        <script type="text/javascript" charset="UTF-8" src="__WAPPREFIX__/lsy/wap/js/jquery-1.8.0.min.js" ></script>
        <script type="text/javascript" charset="UTF-8" src="__WAPPREFIX__/lsy/wap/js/swiper.min.js" ></script>
        <script type="text/javascript" charset="UTF-8" src="__WAPPREFIX__/lsy/wap/js/index.js" ></script>
        <!--动画-->
        <script type="text/javascript" charset="UTF-8" src="__WAPPREFIX__/lsy/wap/js/wow.min.js" ></script>
        <script type="text/javascript" charset="UTF-8">
            //动画
            //new WOW().init();
        </script>
        {block name="script"}{/block}
    </body>
</html>