<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$title|default="案例"}-甘肃陇上云网络科技</title>
    <meta name="keywords" content="{$keywords|default='网站程序建设,软件定制开发,兰州SEO优化排名,甘肃陇上云网络科技有限公司-'}陇上云" />
    <meta name="description" content="{$description|default='APP、PC+手机端网站建设、微信公众号开发、小程定制开发，尽在甘肃陇上云网络科技有限公司。我们以互联网+为基础，专注于互联网网络科技领域，自主开发，不侵犯任何第三方权益及法律风险。掌握互联网最新资讯、学习互联网相关知识。网站程序建设,软件定制开发-'}陇上云" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="copyright" content="longshangyun.com" />
    <meta name="author" content="longshangyun.com" />
    <meta name="applicable-device" content="mobile" />
    <link href="__STATIC__/lsy/web/images/icon128.png" rel="shortcut icon">
    <link rel="stylesheet" href="__STATIC__/lsy/wap/css/default.css" />
    <link rel="stylesheet" href="__STATIC__/lsy/wap/css/swiper.css" />

    <link rel="stylesheet" href="__STATIC__/lsy/wap/css/index.css" />

</head>
<body>
<div class="topDiv cleafix" style="overflow: initial;">
    <!--分享-->
    <div class="shareDiv fl">
        <span>分享</span>
        <div class="shareMain">
            <div class="shareMainC">
                <a class="ico1" href="javascript:void(0)"></a>
                <a class="ico2" href="javascript:void(0)"></a>
                <a class="ico3" href="javascript:void(0)"></a>
                <a class="ico4" href="javascript:void(0)"></a>
                <a class="ico5" href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
    <div class="version fr">
        <h2>适用版本</h2>
        <div class="versionLayer">
            <div class="versionLayerMain">
                <dl>
                    <dt>网站:</dt>
                    <dd>
                        <span>web（PC站）</span>
                        <span>wap（手机站）</span>
                        <span>微站</span>
                    </dd>
                </dl>
                <dl>
                    <dt>APP:</dt>
                    <dd>
                        <span>ios（ipa）</span>
                        <span>android（apk）</span>
                    </dd>
                </dl>
                <dl>
                    <dt>小程序:</dt>
                    <dd>
                        <span>微信小程序</span>
                        <span>支付宝小程序</span>
                    </dd>
                </dl>
                <dl>
                    <dt>应用程序:</dt>
                    <dd>
                        <span>windows（PC）</span>
                        <span>mac（PC）</span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="mainDiv">
    <div class="maintab">
        <iframe class="mainIframePc" src="http://m.lsy.com/"></iframe>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/lsy/wap/js/jquery-1.8.0.min.js" charset="utf-8" ></script>
<script type="text/javascript" src="__STATIC__/lsy/wap/js/swiper.min.js" charset="utf-8" ></script>
<script type="text/javascript" src="__STATIC__/lsy/wap/js/index.js" charset="utf-8" ></script>
<script type="text/javascript" charset="utf-8">
    $(".mainDiv").height( $(window).height() - $(".topDiv").height() );
</script>
</body>
</html>
