{extend name="mobile@public/main"}

{block name='body'}
{include file="mobile@public/header"}
<!--banner-->
<div class="bannerWrap"><img src="__STATIC__/lsy/wap/images/smallBann3.jpg" /></div>
<!--页面主体部分-->
<div class="mainBox">
    <!--选择我们的6大理由-->
    <div class="contactOne w1200">
        <div class="title">
            <h2 class="wow fadeInUp" style="animation-duration: 500ms">选择我们的6大理由</h2>
            <span class="wow fadeInUp" style="animation-duration: 600ms"></span>
            <p class="wow fadeInUp" style="animation-duration: 700ms">让我们彼此携手共进，和您一起共赢，陇上云在此随时等待着您的选择</p>
        </div>
        <ul class="cleafix">
            <li class="ico1">
                <div>
                    <h2>价格优于市场价</h2>
                    <p>更好的质量、设计程序更安全、更优的售后服务，源码100%自主产权。保证价格最低。不要一味的比低价我们可能不是最低的，但是我们是最具性价比的。我们提供您的不是一个简单程序网站而是一套完整的服务体系，保证童叟无欺！价格透明！</p>
                </div>
                <span>01</span>
            </li>
            <li class="ico2">
                <div>
                    <h2>注重优化与运营</h2>
                    <p>和别家相比我们在建站初期考虑网站后期的运营推广、立足SEO布局代码与关键词，保证搜索公司名称能够快速找到您的网站。别家没有一家能保证您的网站适合后期优化，我们做出的网站无论你后期优化运营还是推广都非常适合百度等搜索引擎的规则，尽快提交百度收录。</p>
                </div>
                <span>02</span>
            </li>
            <li class="ico3">
                <div>
                    <h2>拒绝模板站</h2>
                    <p>无论用什么样的语言和后台我们保证做的每一个作品都是原创作品，绝对不买模版站，模板站缺少灵活性、不能直观修正代码、没有设计感、网站不被收录、后期维护麻烦甚至不能更新。精准的将策划、设计、行业经验完善结合，让你的网站与众不同，体现价值。</p>
                </div>
                <span>03</span>
            </li>
            <li class="ico4">
                <div>
                    <h2>独立人性化的管理后台</h2>
                    <p>独立且唯一的管理后台方便内部人员及时更新维护网站内容与数据,网站后台非常人性化管理，一键数据备份、系统安全升级、且适合搜索引擎收录提高排名，全程保证公司内部人员只要会上网打字即可管理网站后台。</p>
                </div>
                <span>04</span>
            </li>
            <li class="ico5">
                <div>
                    <h2>按期交付网站上线</h2>
                    <p>网站工期不论长短，我们都将按期交付上线。遇到提前交付的，不是我们偷工的结果是我们本着对客户负责的态度加班加点努力的结果。上门签订合同，协助免费备案！让您更放心、省心、省时！</p>
                </div>
                <span>05</span>
            </li>
            <li class="ico6">
                <div>
                    <h2>免费售后服务</h2>
                    <p>因为我们不是做“一锤子买卖”。我们始终秉承“服务到位”的宗旨，为客户提供实实在在的“有形服务”，对客户任何建议和评价给予最大的关注。后期终身免费网站的数据备份、安全升级、网站恢复、网站的迁移等。</p>
                </div>
                <span>06</span>
            </li>
        </ul>
    </div>
    <!--联系我们-->
    <div class="contactTwo">
        <div class="contact w1200">
            <div class="title">
                <h2 class="wow fadeInUp" style="animation-duration: 500ms">联系我们</h2>
                <span class="wow fadeInUp" style="animation-duration: 600ms"></span>
                <p class="wow fadeInUp" style="animation-duration: 700ms">Contact us</p>
            </div>
            <ul class="cleafix">
                <li class="ico1">
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico21.png" /></span>
                        <h2>公司地址</h2>
                        <p>甘肃省兰州市七里河区兰州中心SOHO</p>
                        <p>邮编：730050</p>
                    </a>
                </li>
                <li class="ico2">
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico22.png" /></span>
                        <h2>联系方式</h2>
                        <p>联系电话：0931-2233257</p>
                    </a>
                </li>
                <li class="ico3">
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/ico23.png" /></span>
                        <h2>陇上云邮箱</h2>
                        <p>longshangyun@foxmail.com</p>
                    </a>
                </li>
                <li class="ico4">
                    <a href="javascript:void(0)">
                        <span><img src="__STATIC__/lsy/wap/images/webchat.jpg" /></span>
                        <p>微信公众号</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{include file="mobile@public/footer"}
{/block}